<div class="tovar">
    <div class="tovar-img"> 
      <div class="flex">
           
        <span>
          
             <a href="<%= data_r.alias %>">  <h2 class="tovar-brands"><%= data_r.title_brands %> </h2>  </a>  
     
    </div>
        </span>
      <img src="../public/images/<%= data_r.link_img %>" alt="Изображение товара">
    </div>
    <div class="tovar-option"><p><%= data_r.title_product %> </p><p>Текстура: <%= data_r.texture %></p></div>
  </div>


